body{
    padding: 0;
    margin: 0;
    background-color: grey;
}

.column-flex-container{
    display: flex;
    flex-direction: column;
}

.row-flex-container{
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}